@use '../utils/' as *;


.about-main{
    @include flex-container(column,center,center);
}

.about-main-wrapper{
    @include flex-container(row,center,center);

    @include breakpoint(sm,max){
        @include flex-container(column,center,center);
    }

    @include breakpoint(md,max){
        @include flex-container(column,center,center);
    }

    @include breakpoint(lg,max){
        @include flex-container(column,center,center);
    }
}

.about-left{
    @include flex-container(column,flex-start,flex-start);
    gap: 20px;
    p{
        color: #a8b2d1;
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        width: 100%;
        font-family: 'Fira Sans', sans-serif;

        @include breakpoint(sm,max){
            font-size: 13px;
        }
    
        @include breakpoint(md,max){
            font-size: 13px;
        }
    
        @include breakpoint(lg,max){
            font-size: 13px;
        }
    }
}

.about-right{
    @include flex-container(row,flex-start,center);

    @include breakpoint(sm,max){
        margin-top: 8rem;
    }

    @include breakpoint(md,max){
        margin-top: 8rem;
    }

    @include breakpoint(lg,max){
        margin-top: 8rem;
    }
}

.about-image-wrapper{
    @include flex-container(row,center,center);
    position: relative;
    transition: all 0.2s;
}

.about-image{
    @include flex-container(row,center,center);
    width: 300px;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    filter: grayscale(100%);
    transition: all 0.2s;
    position: absolute;

    @include breakpoint(sm,max){
        width: 200px;
        height: 200px;
    }

    @include breakpoint(md,max){
        width: 200px;
        height: 200px;
    }

    @include breakpoint(lg,max){
        width: 200px;
        height: 200px;
    }
}

.about-box{
    @include flex-container(row,center,center);
    width: 300px;
    height: 300px;
    border-radius: 8px; 
    position: absolute;
    border: 2px solid #64ffda;
    top: 50%;
    left: 50%;
    transform: translate(-43%, -43%);
    z-index: -10;
    transition: all 0.2s;

    @include breakpoint(sm,max){
        width: 200px;
        height: 200px;
    }

    @include breakpoint(md,max){
        width: 200px;
        height: 200px;
    }

    @include breakpoint(lg,max){
        width: 200px;
        height: 200px;
    }
}

.about-image-wrapper:hover > .about-image{
    filter: none;
    // transform: translate(-47%, -47%);
}

.about-image-wrapper:hover > .about-box{
    transform: translate(-50%, -50%);
}


.about-sub-main-wrapper{
    @include flex-container(column,center,center);
    margin-top: 3rem;

    @include breakpoint(sm,max){
        margin-top: 8rem;
    }

    @include breakpoint(md,max){
        margin-top: 8rem;
    }

    @include breakpoint(lg,max){
        margin-top: 8rem;
    }
}

#about-sub-heading{
    display: inline;
    color: #CCDCF6;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    width: 100%;
    font-family: "Fira Sans", sans-serif;
    margin: 2.5rem 0rem;
    text-align: center;

    @include breakpoint(sm,max){
        font-size: 24px;
        margin: 1.5rem 0rem;
    }

    @include breakpoint(md,max){
        font-size: 24px;
        margin: 1.5rem 0rem;
    }

    @include breakpoint(lg,max){
        font-size: 24px;
        margin: 1.5rem 0rem;
    }
}

.technology-wrapper{
    @include flex-container(column,center,center);
    gap: 20px;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
    background: #112240;
    border-radius: 4px;
    padding: 2rem 1.75rem;

    @include breakpoint(sm,max){
        @include flex-container(row,center,center);
    }

    @include breakpoint(md,max){
        @include flex-container(row,center,center);
    }

    @include breakpoint(lg,max){
        @include flex-container(row,center,center);
    }

    ul{
        @include flex-container(row,center,center);
        // max-width: 200px;
        gap: 10px;

        @include breakpoint(sm,max){
            @include flex-container(column,center,center);
        }
    
        @include breakpoint(md,max){
            @include flex-container(column,center,center);
        }
    
        @include breakpoint(lg,max){
            @include flex-container(column,center,center);
        }
    }
}

.list-wrapper{
    @include flex-container(row,center,flex-start);
    gap: 10px;
    min-width: 150px;
    // flex-wrap: wrap;

    p{
        display: inline;
        color: #a8b2d1;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        width: 100%;
        font-family: "Fira Sans", sans-serif;

        @include breakpoint(sm,max){
            font-size: 14px;
        }
    
        @include breakpoint(md,max){
            font-size: 14px;
        }
    
        @include breakpoint(lg,max){
            font-size: 14px;
        }
    }
}