@use '../utils/' as *;

.header-main{
    @include flex-container(row,center,space-between);
    padding: 1.75rem 3.75rem;
    position: relative;
    background-color: #0a192f;
    font-family: 'Fira Code', monospace;


    @include breakpoint(sm,max){
        padding: 0.75rem 1rem;
        position: fixed;
        top: 0;
        z-index: 100;
        // opacity: 0.9;
    }

    @include breakpoint(md,max){
        padding: 0.75rem 1rem;
        position: fixed;
        top: 0;
        z-index: 100;
        // opacity: 0.9;
    }

    @include breakpoint(lg,max){
        padding: 0.75rem 1rem;
        position: fixed;
        top: 0;
        z-index: 100;
        // opacity: 0.9;
    }


    .header-nav{
        ul{
            @include flex-container(row,center,space-between);
            min-width: 600px;

            li{
                color: #CCDCF6;
            }
        }

        @include breakpoint(sm,max){
            display: none;
        }

        @include breakpoint(md,max){
            display: none;
        }

        @include breakpoint(lg,max){
            display: none;
        }
    }
}

#hamburger-icon{
    @include breakpoint(lg,min){
        display: none;
    }

    @include breakpoint(xl,min){
        display: none;
    }
}

#close-icon{
    @include breakpoint(lg,min){
        display: none;
    }

    @include breakpoint(xl,min){
        display: none;
    }
}

.portfolio-logo{
    @include flex-container(row,center,center);
    padding: 0.5rem;
    border-radius: 50%;
    border: 2px solid #64ffda;
    width: 50px;
    height: 50px;
    color: #64ffda;
    font-weight: 800;

    @include breakpoint(sm,max){
        width: 35px;
        height: 35px;
    }

    @include breakpoint(md,max){
        width: 35px;
        height: 35px;
    }

    @include breakpoint(lg,max){
        width: 35px;
        height: 35px;
    }
}

.sidebar-main{
    @include flex-container(column,center,flex-start);
    position: absolute;
    background: #112240;
    padding: 2rem 1rem;
    max-width: 310px;
    height: 100vh;
    z-index: 10;
    top: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    transition: all 0.4s ease;

    .sidebar-nav{
        ul{
            @include flex-container(column,center,center);
            gap: 3rem;

            li{
                color: #CCDCF6;
            }
        }
    }

    @include breakpoint(xl,min){
        display: none;
    }
}

.sidebar-main-hide{
    right: -100%;
}

.sidebar-main-show{
    right: 0%;
}


