@use '../utils/' as *;

.homepage-main{
    @include flex-container(column,center,center);
    padding: 10.25rem 10rem 5rem 10rem;
    position: relative;
    gap: 8rem;

    @include breakpoint(sm,max){
        padding: 2.25rem 1rem 2rem 1rem;
        gap: 2.75rem;
    }

    @include breakpoint(md,max){
        padding: 2.25rem 1rem 2rem 1rem;
        gap: 4.75rem;
    }

    @include breakpoint(lg,max){
        padding: 2.25rem 1rem 2rem 1rem;
        gap: 4.75rem;
    }
}

.contact-details{
    @include flex-container(row,center,center);
    max-width: 25px;
    position: fixed;
    bottom: 0;
    right: auto;
    left: 60px;
    z-index: 10;

    @include breakpoint(sm,max){
        display: none;
    }

    @include breakpoint(md,max){
        display: none;
    }

    @include breakpoint(lg,max){
        display: none;
    }

    ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    }

}

.contact-details-one{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    gap: 20px;
}

.contact-details-one::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;
}

.email-details{
    // width: 40px;
    position: fixed;
    bottom: 0;
    left: auto;
    right: 60px;
    z-index: 10;
    // transform: rotate(90deg);

    @include breakpoint(sm,max){
        display: none;
    }

    @include breakpoint(md,max){
        display: none;
    }

    @include breakpoint(lg,max){
        display: none;
    }
}

.email-details-one{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.email-details-one::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;
}

.email{
    color: #a8b2d1;
    letter-spacing: 0.1em;
    margin: 20px auto;
    text-decoration: none;
    writing-mode: vertical-rl;
    transition: all 0.2s;
}

.email:hover{
    color: #64ffda;
    transform: translateY(-3px);
}