@use '../utils/' as *;

.homepage-main{
    @include flex-container(column,center,center);
    @include padding(rem(180px),rem(160px),rem(80px),rem(160px));
    position: relative;
    gap: rem(220px);
}

.contact-details{
    @include flex-container(row,center,center);
    max-width: 25px;
    position: fixed;
    bottom: 0;
    right: auto;
    left: 60px;
    z-index: 10;

    ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    }

}

.contact-details-one{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    gap: 20px;
}

.contact-details-one::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;
}

.email-details{
    // width: 40px;
    position: fixed;
    bottom: 0;
    left: auto;
    right: 60px;
    z-index: 10;
    // transform: rotate(90deg);
}

.email-details-one{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.email-details-one::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;
}

.email{
    color: #a8b2d1;
    letter-spacing: 0.1em;
    margin: 20px auto;
    text-decoration: none;
    writing-mode: vertical-rl;
    transition: all 0.2s;
}

.email:hover{
    color: #64ffda;
    transform: translateY(-3px);
}