@use '../utils/' as *;

.introduction-main{
    @include flex-container(row,space-around,flex-start);
    gap: rem(20px);
    color: #64ffda;
    font-weight: 600;
    font-size: 20px;
    height: 50vh;

    @include breakpoint(sm,max){
        font-size: 16px;
        font-weight: 400;
        height: 18vh;
    }

    @include breakpoint(md,max){
        font-size: 16px;
        font-weight: 400;
        height: 18vh;
    }

    @include breakpoint(lg,max){
        font-size: 16px;
        font-weight: 400;
        height: 18vh;
    }
}

.introduction-left{
    @include flex-container(column,flex-start,flex-start);
    gap: rem(20px);
    // position: relative;
    // z-index: 4;
}

.introduction-right{
    @include flex-container(column,flex-end,center);
    
    span{
        @include flex-container(row,center,center);
        width: 500px;
        height: 500px;
    }
}

.introduction-name{
    font-size: 6.125rem;
    font-weight: 500;
    color: #CCDCF6;

    @include breakpoint(sm,max){
        font-size: 3.125rem;
    }

    @include breakpoint(md,max){
        font-size: 3.125rem;
    }

    @include breakpoint(lg,max){
        font-size: 3.125rem;
    }
}

.introduction-position{
    font-size: 3.375rem;
    font-weight: 400;
    color: #8892B0;

    @include breakpoint(sm,max){
        font-size: 1.5rem;
    }

    @include breakpoint(md,max){
        font-size: 1.5rem;
    }

    @include breakpoint(lg,max){
        font-size: 1.5rem;
    }
}

// .blobs{
//     position: absolute;
//     z-index: -1;
//     top: -10%;
// }