@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&family=Poppins:wght@100;200;300;400;500&display=swap');





$font-one:'Fira Code', monospace;
$font-two:'Fira Sans', sans-serif;
$font-three: 'Fira Sans Condensed', sans-serif;
$font-four: 'Poppins', sans-serif;;

$font-family: (
    font-1 : $font-one,
    font-2 :  $font-two,
    font-3: $font-three,
    font-4: $font-four,
)



// $font-sizes: (
    
// )


// $font-weight:(

// )
